In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("GlobalLandTemperaturesByCity.csv")
df = df.loc[df["Country"] == "United States"]
df = df.loc[df["dt"] > "2011-01-01"]

In [3]:
df_grouped = df.groupby("City").mean()
df_grouped

/var/folders/lp/m4zvc5353r71jb_hgq21wmc40000gn/T/ipykernel_65154/2193032480.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_grouped = df.groupby("City").mean()

               AverageTemperature  AverageTemperatureUncertainty
City
Abilene                 19.443594                       0.293281
Akron                   12.122750                       0.316344
Albuquerque             12.980031                       0.361656
Alexandria              14.376375                       0.309531
Allentown               12.276969                       0.322406
...                           ...                            ...
Wichita Falls           19.134719                       0.301656
Windsor                 11.116719                       0.301719
Winston Salem           16.427625                       0.322937
Worcester               10.325375                       0.380844
Yonkers                 12.276969                       0.322406

[248 rows x 2 columns]

In [4]:
df = df[df["dt"] == "2011-08-01"]
df["Latitude"] = df["Latitude"].apply(lambda x:  float(x[:-1]))
df["Longitude"] = df["Longitude"].apply(lambda x:  float("-" + x[:-1]))
df.to_csv("city_temp_real_real_real.csv")

In [6]:
model_results = pd.read_csv("model_results.csv")
model_results

,Feature,Probability under the Null Hypothesis
0,Temperature 30 Days Before Event,0.000
1,Temperature 15 Days Before Event,0.235
2,Temperature 7 Days Before Event,0.000
3,Temperature in the 7 Days Leading up to Event,0.000
4,Wind 30 Days Before the Event,0.928
5,Wind 15 Days Before the Event,0.829
6,Wind 7 Days Before the Event,0.380
7,Wind in the 7 Days Leading up to Event,0.000
8,Humidity 30 Days Before the Event,0.142
9,Humidity 15 Days Before the Event,0.156
10,Humidity 7 Days Before the Event,0.000
11,Humidity in the 7 Days Leading up to Event,0.000
12,Precipitation 30 Days Before the Event,0.392
13,Precipitation 15 Days Before the Event,0.885
14,Precipitation 7 Days Before the Event,0.519
15,Preicpitation in the 7 Days Leading up to Event,0.000
16,Remoteness from the City,0.000

In [15]:
model_results["Probability under the Null Hypothesis"] = 1 - model_results["Probability under the Null Hypothesis"]
model_results = model_results.sort_values(by="Probability under the Null Hypothesis", ascending=False)

In [17]:
model_results.to_csv("model_results_real.csv")

In [14]:
model_results.to_csv("model_results_real.csv")

In [8]:
model_results.to_csv("model_results.csv")